html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-image: url(../images/NightSky.png);
    background-size: cover ;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.bigwords {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    margin-top: 100px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
}
body {
    font-family: 'McLaren', cursive;
}
button {
    height: 100px;
    width: 200px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-family: 'McLaren', cursive;
    border-radius: 5px;
    margin-top: 60px;
}
button:focus {
    outline: none;
}
canvas { 
    border: 1px solid black; 
    height: 720px;
    width: 1180px;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}
.game-container {
    display:flex;
    flex-direction: row;
}
#left-bar {
    height:722px;
    width:50px;
    background-color: black;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
.value {
    color: red;
    font-size: 50px;
    writing-mode: vertical-lr;  
    text-orientation: upright;
    padding-top: 10px;
}
#right-bar {
    height:722px;
    width:50px;
    background-color: black;
    margin-bottom: 0;
}
.label { 
    width:1px;
    color: cyan;
    font-size: 50px;
    writing-mode: vertical-lr;  
    text-orientation: upright;
    letter-spacing: -10px;
    padding-top: 20px;
}
strong {
    color: yellow;
}
#gameovermain {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: white;
    font-size: 50px;
}
h1{
    font-size: 150px;
    margin-bottom: 100px;
}
img {
    height: 100px;
    margin-bottom: 50px;
}
input {
    height: 50px;
}
label {
    text-align: center;
}

#title {
    background-color: goldenrod, 0.5;
    text-align: center;
    border-radius: 10px;
    border: 2px solid yellow;
}
.howtotext {
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 500px;
    margin-left: 366px;
    margin-top: 200px;
}
.howtotext p {
    line-height: 40px;
}
.mainhowto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.backbutton {
    margin-left: 510px;
}
.bottomoptions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
}
.bottomoptions button {
    margin-right:  40px;
}
.abouttext {
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 500px;
    margin-left: 300px;
}
.abouttext p {
    line-height: 40px;
}
.test {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.test img {
    width: 200px;
    height:400px;
    padding-left: 0px;
    border: 2px solid yellow;
    border-radius: 10px;
    margin-left: 50px;
}
#nameform {
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 500px;
    margin-left: 366px;
    margin-top: 200px;
}
h2 {
    font-size:40px;
}
input[type=text] {
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    margin-right: 30px;
    font-size: 20px;
    font-family: 'McLaren', cursive;
}
input[type=text]:focus {
    outline: none;
  }
#namesubmit {
    margin-bottom: 10px;
}
.goButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.goButtons button {
    margin-right: 20px;
}
.submitandbutton {
    display:flex;
    flex-direction: row;
    align-items: baseline;
}
.name {
    margin-bottom: -50px;
}
.gameovertext {
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: 366px;
    margin-top: 50px;
    text-align: center;
}
.gameovertext img {
    border: 2px solid yellow;
    border-radius: 10px;
    
}
.namemain {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.namemain span {
    font-size: 40px;
    margin-bottom: -30px;
    margin-left:-50px;
}
.failure {
    color:red;
}
.success {
    color:green;
}